.sizeFallback:after {
    content: "Approximation of image sizes.";
    background: red;
    font-size: 10px;
    line-height: 10px;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, "sans-serif";
    font-weight: 700;
    color: #fff;
    padding: 6px 10px;
    border-radius: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10
}
.sizeFull.before-portrait.after-portrait img {
    max-width: 9999%;
    width: auto
}
.et-fb-modules-list .baie_before_after_image .et-fb-icon {
    width: 16px!important;
    height: 16px!important;
    min-width: 16px!important;
    margin-top: 0!important;
    margin-bottom: 0!important
}
